*{margin: 0;
}
body {
    height: 100vh;
}
#header {
    border: 1px solid black;
    background-color: blue;
    height: 20%;
}
#middle {
    background-color: red;
    height: 60%;
}
#nav {
    width: 20%;
    background-color: green;
}
#main {
    width: 60%;
}
#ads {
    width: 20%;
    background-color: green;
}