*{
    margin: 0;
}
body{
    height: 100vh;
    background-color: brown;
}
#header{
    background-color: aliceblue;
    border: 1px solid black;
    height: 40%;
}
#middle{
    background-color: azure;
    height: 55%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
#footer{
    height: 5%;
}
#googlesearch{
    background-color: aliceblue;
    width: 130px;
    margin-left: 20px;
}
#imfeelinglucky{
    width: 130px;
}
#search{
    display: flex;
    flex-direction: row;
}
